.Generic_Button
{
	background: linear-gradient(135deg, #8068A8 0%, #F5B8D3 50%, #90DDF5 100%);
	color: #FFFFFF;
	cursor: pointer;
	font-size: 1rem;
	border: 0;
	font-weight: bold;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	text-align: center;
}

.Generic_Button:active
{
	opacity: 0.5;
}