.Text_Area
{
    display: flex;
    flex-direction: column;
}

.Text_Area_Label
{
    font-size: 1.5rem;
    font-weight: bold;
}

.Text_Area_Field
{
    margin-top: 1rem;
    border: 2px solid #050505;
	background-color: transparent;
    border-radius: 0.5rem;
    resize: none;
    padding: 1rem;
    font-size: 1.5rem;
}

.Text_Area_Field:focus
{
	outline: none;
}